.main {
    margin: 20px;
}

.box {
    margin: 0.2rem 0 0 0;
    padding: 2.5rem;
    width: 24.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  
    @media (max-width: 768px) {
      width: 20rem;
    }
  
    @media (max-width: 480px) {
      width: 16rem;
    }
  }